main {
    background-color: #006D77;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.container {
    background-color: #FFDDD2;
    width: 600px;
    height: 200px;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    display: flex;
}

.card {
    background-color: #DB7A57;
    font-family: sans-serif;
    color: floralwhite;
    box-shadow: saddlebrown 3px 3px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
}

.one {
    align-items: flex-end;
}

.two {
    justify-content: center;
    align-items: stretch;
}

.three {
    justify-content: flex-end;
    align-items: center;
}

.four {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.l {
    align-self: flex-end;
}

.five {
    justify-content: center;
}

.n {
    align-self: center;
}

.m, .n, .o {
    margin-left: 30px;
    margin-right: 30px;
}

.six {
    justify-content: center;
    align-items: center;
}

.q {
    flex-grow: 0.8;
}